.login-form {                         
    max-width: 300px;
    margin-left: 40%;
    margin-top: 5%;
}

.login-form-forgot {
    float: right;                
}

.login-form-button {
    width: 100%;
}



    